server:
  port: 8080

spring:
  datasource:
    jdbc-url: jdbc:postgresql://localhost:5432/batch
    driver-class-name: org.postgresql.Driver
    username: postgres
    password: 1234

  batch:
    datasource:
      jdbc-url: jdbc:postgresql://localhost:5432/batch
      driver-class-name: org.postgresql.Driver
      username: postgres
      password: 1234
    jdbc:
      initialize-schema: always
    job:
      enabled: false
    schedule:
      tmdb: 0 */3 * * * * # 3분에 한번
      sport-api: 0 */10 * * * * # 10분에 한번

  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
        show_sql: false
    show-sql: false

  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB

management:
  endpoints:
    web:
      exposure:
        include: health, info, metrics, env

  endpoint:
    health:
      show-details: always

  health:
    redis:
      enabled: false

logging:
  level:
    root: INFO
    org.hibernate.SQL: INFO
    org.hibernate.type.descriptor.sql.BasicBinder: INFO
    org.springframework.batch: INFO
    org.springframework.jdbc.core: INFO