server:
  port: 8080

spring:
  datasource:
    jdbc-url: ${DB_URL}
    driver-class-name: org.postgresql.Driver
    username: ${DB_USERNAME}
    password: ${DB_USERNAME}

  batch:
    datasource:
      jdbc-url: ${BATCH_DB_URL}
      driver-class-name: org.postgresql.Driver
      username: ${BATCH_DB_USERNAME}
      password: ${BATCH_DB_PASSWORD}
    jdbc:
      initialize-schema: never
    job:
      enabled: false
    schedule:
      tmdb: 0 0 1 * * * # 매일 새벽 1시
      sport-api: 0 0 1 * * * # 매일 새벽 1시

  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB

management:
  endpoints:
    web:
      exposure:
        include: health, info, metrics, env
  endpoint:
    health:
      show-details: always

logging:
  level:
    root: INFO
    org.hibernate.SQL: DEBUG
    org.springframework.web: DEBUG