server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/monew
    driver-class-name: org.postgresql.Driver
    username: postgres
    password: 1234

  sql:
    init:
      mode: never

  jpa:
    hibernate:
      ddl-auto: validate

  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB

management:
  endpoints:
    web:
      exposure:
        include: health, info, metrics, env

  endpoint:
    health:
      show-details: always

  health:
    redis:
      enabled: false

logging:
  level:
    root: INFO
    org.hibernate.SQL: DEBUG
    org.springframework.web: DEBUG