version: '3.8'

services:
  batch-app:
    image: 989775483620.dkr.ecr.ap-northeast-2.amazonaws.com/mopl/batch:latest
    container_name: batch-app
    restart: unless-stopped
    env_file:
      - .env
    environment:
      - PROFILE=prod

      - DB_URL=${DB_URL}
      - DB_USERNAME=${DB_USERNAME}
      - DB_PASSWORD=${DB_PASSWORD}

      - SPRING_ELASTIC_SERVERS=${SPRING_ELASTIC_SERVERS}
      - REDIS_HOST=${REDIS_HOST}
      - REDIS_PORT=${REDIS_PORT}

      - PROMETHEUS_PUSHGATEWAY_URL=${PROMETHEUS_PUSHGATEWAY_URL}
    ports:
      - "8082:8082"
